.navbar-fixed-top.scrolled {
  background-color: orange !important;
  transition: background-color 200ms linear;
}

p~a{
  text-decoration: none;
}
a:hover{
  text-decoration-line: none;
}

.btn-yel:hover{
  background-color: #fff;
  border: 2px solid orange;
  color: orange;
}
.view:hover{
  background-color: orange;
  border: none;
  color: #fff;
}
.cardSummit:hover{
  background-color: #fff;
  border: 2px solid orange;
  color: orange;
}

.type-line{
  /* border-right: 2px solid rgba(255,255,255,.75); */
  /* text-align: center; */
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

/* Animation */
.type-write{
animation: typewriter 5s steps(44) 1s 1 normal both,
           blinkTextCursor 500ms steps(44) infinite normal;
  animation-iteration-count:infinite;
  animation-delay: 2s;
  animation-duration: 7s;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 36em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}

/* @media only screen and (min-width: 601px) {
  .type-line{
    font-size: 80px;
  }
} */